.basket {
  display: flex;
  justify-content: space-between;
  gap: 66px;
  max-width: 1640px;
  padding: 59px 100px 0 100px;
  font-family: LT Superior, serif;
}

.basket-leftside {
  display: flex;
  flex-direction: column;
  flex: 1 0 0;
  padding-top: 28px;
}

.basket-title {
  margin-bottom: 10px;
}

.basket-title h2 {
  font-weight: 700;
  font-family: Inter, serif;
  flex: 1 0 0;
  font-size: 1.65em;
}

.basket-btns {
  display: flex;
  justify-content: space-between;
  flex: 1 0 0;

}

.basket-btns button {
  color: #1119C7;
  font-size: 1.0625em;
  font-weight: 500;
  font-family: 'LT Superior', serif;
}

.basket-cards {
  display: flex;
  flex-direction: column;
  padding-top: 28px;
  padding-left: 20px;
}

.basket-card {
  display: flex;
  gap: 10px;
  position: relative;
  border-top: 1px solid #D9D9D9;
  padding: 24px 0;
}

.basket-card__IMGcontainer {
  flex: 0.2 0 0;
}

.basket-card__IMGcontainer img {
  width: 100%;
  max-width: 174px;
  min-width: 174px;
  height: auto;
}

.basket-card .basket-card-main {
  flex: 1 0 0;
}

.basket-card .card-description {
  flex: 0.1 0 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 32px 0;
}

.basket-card .card-description-inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  white-space: nowrap;
}

.basket-card .card-description__title,
.basket-card .card-description__subtitle,
.basket-card .card-description__category {
  font-family: LT Superior, serif;
  letter-spacing: 1px;
}

.basket-card .card-price-container {
  align-self: flex-start;
  display: flex;
  justify-content: flex-start;
}

.basket-card .card-description__price {
  flex: 1 0 0;
  font-size: 1.25em;
}

.basket-card .card-btns__more {
  margin-right: 20px;
  background-color: #D9D9D9;
  border-radius: 5px;
  color: #1119C7;
  font-size: 1.25em;
  padding: 0;
  width: 1.8em;
  height: 1em;
  font-weight: 500;
}

.card-price-result {
  display: flex;
  margin: 32px 0;
  align-items: flex-end;
  flex: 1.5 0 0;
}

.card-price-result .card-description__price {
  display: flex;
  flex: 1 0 0;
  justify-content: flex-end;
  margin-right: 10px;
  margin-left: 10px;
  min-width: fit-content;
}

.card-btns__more:nth-last-of-type(1) {
  margin-right: 10px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid black;
  color: black;
  height: 21px;
  font-size: 1em;
}

.basket-card__close {
  position: absolute;
  top: 55px;
  right: 10px;
  padding: 5px;
}

.basket-promo {
  display: flex;
  gap: 30px;
  align-items: center;
  padding-left: 50px;
}

.basket-promo__title {
  display: flex;
  align-items: center;
  gap: 12px;
}

.basket-promo__title span {
  font-weight: bold;
  font-size: 1.6em;
  font-family: Inter, serif;
}

.basket-promo__helper {
  height: 22px;
}

.basket-promo__helper img {
  width: 1.5em;
  height: 1.5em;
}

.basket-promo form {
  display: flex;
  align-items: center;
  gap: 21px;
  margin-left: 10px;
  flex: 1 0 0;
}

.basket-promo form input {
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px 10px;
  max-width: 282px;
  width: 100%;
  height: 40px;
}

.basket-promo form button {
  background-color: #0761E8;
  color: white;
  border-radius: 8px;
  padding: 5px 30px;
  align-self: stretch;
  max-width: 143px;
  width: 100%;
  font-family: 'LT Superior', serif;
}

.basket-delivery {
  display: flex;
  flex-direction: column;
  padding-left: 50px;
}

.basket-delivery__title {
  font-size: 1.625em;
  font-weight: bold;
  margin-bottom: 15px;
  font-family: Inter, serif;
}

.basket-delivery__subitle {
  font-size: 1.25em;
  margin-bottom: 25px;
  font-weight: 500;
}

.basket-delivery-form {
  display: flex;
  flex-direction: column;
}

.delivery-form__blockInput {
  display: flex;
  flex-direction: column;
}

.delivery-form__blockInput>label {
  margin-bottom: 10px;
}

.delivery-form__blockInput>div {
  display: flex;
  gap: 25px;
  margin-bottom: 10px;
}

.delivery-form__blockInput>div>label:first-child {
  flex: 1 0 0;
}

.basket-delivery-form input,
.basket-delivery-form select {
  border-radius: 5px;
  border: 1px solid black;
  padding: 5px 10px;
  margin-top: 5px;
  width: 100%;
  height: 40px;
}

.basket-delivery-form label {
  display: flex;
  flex-direction: column;
  flex: 1 0 0;
}

.delivery-form__blockRadio {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 55px 0;
}

label.labelRadio {
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

label.labelRadio>span {
  font-weight: 600;
}

label.labelRadio>span>span:first-child {
  font-size: 1.25em;
}

label.labelRadio>span>span:last-child {
  font-size: 0.81em;
}

label.labelRadio input {
  margin: 0;
  width: fit-content;
  width: 23px;
  height: 23px;
}

.basket-delivery-form__addone {
  font-weight: bolder;
  display: flex;
  align-items: center;
  gap: 20px;

  margin-bottom: 78px;
}

.basket-delivery-form__addone span:first-child {
  font-size: 1.33em;
  font-weight: 600;
  max-width: 667px;
}

.basket__phoneContainer {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  border-radius: 50%;
  cursor: pointer;
  max-width: 36px;
  width: 100%;
  height: 36px;
}

.basket__phoneContainer:hover {
  background-color: #C9BDBD;
}

.basket__phoneContainer img {
  max-width: 20px;
  width: 100%;
  max-height: 18px;
  height: 100%;
}

.basket-delivery-form button {
  background-color: #0761E8;
  color: white;
  border-radius: 8px;
  padding: 12px 25px;
  max-width: 17em;
  align-self: center;
  max-width: 283px;
  width: 100%;
  font-family: 'LT SUPERIOR', serif;
  letter-spacing: 0.01em;
  font-weight: 500;
}

.basket-payment {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-left: 50px;
}

.basket-payment__title {
  font-size: 1.6em;
  font-weight: bold;
  font-family: Inter, serif;
}

.basket-payment-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: flex-start;

}

.basket-payment-list ul {
  display: flex;
  flex-direction: column;
  gap: 31px;
}

.basket-payment-list li {
  display: flex;
  align-items: center;
  gap: 19px;
}

.basket-payment-list li span {
  font-size: 1.5em;
  font-weight: 600;
}

.basket-payment-list li img {
  width: 2em;
  height: 2em;
}

.basket-payment-list li input {
  width: 23px;
  height: 23px;
}

.basket-rightside {
  flex: 1 0 0;
  max-width: 410px;
  max-height: 415px;
  box-shadow: 1px 1px 8.5px 1px rgba(0, 0, 0, 0.09);
  border-radius: 15px;
  align-self: self-start;
  position: sticky;
  top: 60px;
  font-weight: 600;
  border: 1px solid #E4E0E0;
}

.basket-rightside-description {
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin: 56px 20px;
}

.basket-rightside-property {
  display: flex;
  justify-content: space-between;

}

.basket-rightside__payment span {
  font-size: 1.4em;
  font-weight: bold;
}

.basket-rightside__products span {
  font-size: 0.9em;
}

.basket-rightside__discount span {
  font-size: 0.9em;

}

.basket-rightside__bonus span {
  font-size: 0.9em;

}

.basket-rightside__delivery span {
  font-weight: 600;
  font-size: 1.08em;
}

.basket-rightside__deliveryDoor,
.basket-rightside__deliveryPoint {
  align-self: flex-end;
}

.basket-rightside__deliveryPoint button,
.basket-rightside__deliveryDoor button {
  color: #299F3E;
  font-weight: 600;
  font-size: 1.08em;
  font-family: 'LT Superior', serif;
}

.basket-rightside-button {
  display: flex;
  justify-content: center;
  padding: 0 12px;
  align-items: center;
  flex: 1 0 0;
  /*margin-top: 18px;*/
  background-color: #fff;
}

.basket-rightside-button button {
  background-color: #299F3E;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 12px;
  max-width: 283px;
  width: 100%;
  height: 37px;
  border-radius: 8px;
  font-weight: 700;
  font-family: 'LT Superior', serif;
  letter-spacing: 0.01em;
}

.basket-rightside-button button span {
  font-size: 0.86em;
}

.basket-rightside-button button img {
  width: 23px;
  height: auto;
}

.basket-leftside hr {
  margin: 85px 0 85px 20px;
}

hr.noneHR {
  margin: 10px 0;
}

.basket-rightside-button>span:first-child {
  display: none;
}

.move-button {
  display: none;
}

@media screen and (min-width: 1600px) {
  .basket {
    margin: 0 auto;
  }
}

@media screen and (max-width: 1100px) {

  .basket-card .card-btns__more {
    height: 16px;
    line-height: 0.875em;
    font-size: 0.875em;
  }

  .basket {
    flex-direction: column;
    padding: 40px 0px;
  }

  .basket-card {
    flex-wrap: wrap;
    padding: 10px 32px;
  }

  .card-price-result {
    flex: 1 0 60%;
    margin: 0 0 0 17px;
  }

  .basket hr:not(.basket hr.noneHR) {
    border-top: 20px solid #EFEDED;
  }

  .basket-title {
    padding: 10px 32px;
    margin: 0;
  }

  .basket-btns {
    padding: 0 32px;
  }

  .basket-promo {
    align-items: flex-start;
    flex-direction: column;
    margin: 0 auto;
  }

  .basket-promo form {
    margin-left: 0px;
  }

  .basket-delivery {
    padding: 0 32px;
  }

  .delivery-form__blockInput {
    width: 100%;
  }

  .delivery-form__blockInput>div>label:first-child {
    flex: 0.5 0 0;
  }

  .delivery-form__blockInput>div>label:last-child {
    flex: 1 0 0;
  }

  .basket-payment {
    padding: 0 32px;
    justify-content: center;
  }

  .basket-rightside {
    margin: 32px 0;
    align-self: stretch;
    box-shadow: none;
    border-radius: 0px;
    border-top: 20px solid #EFEDED;
    max-width: unset;
  }

  .delivery-form__blockRadio {
    margin: 39px 0;
  }

  .basket-rightside-description {
    padding: 20px 32px 0;
  }

  .basket-delivery-form__addone {
    margin-bottom: 20px;
  }

  .basket-cards {
    margin-bottom: 24px;
  }

  .basket-leftside hr {
    margin: 55px 0 45px;
  }

  label.labelRadio input {
    max-width: 1.5em;
    min-width: 1.5em;
    height: 1.5em;
  }

  .basket-payment-list input[type='radio'] {
    max-width: 1.5em;
    height: 1.5em
  }

  .basket-payment-list ul,
  .basket-payment-list ul li {
    gap: 15px;
  }

  .basket-delivery-form select {
    align-self: stretch;
    height: 100%;
    font-size: 0.95em;
  }

  .basket-delivery-form input {
    font-size: 0.95em;
  }

  .basket-payment-list li>span {
    font-size: 0.875em;
  }

  .basket-card .card-description__title {
    font-size: 0.89em;
  }

  .basket-card .card-description__category,
  .basket-card .card-description__subtitle {
    font-size: 0.75em;
  }

  .move-button {
    position: fixed;
    bottom: 0;
    left: 0;
    height: fit-content;
    width: 100%;
    margin: 0;
    padding: 10px 32px;
    box-shadow: 4px -2px 5px 1px rgba(0, 0, 0, 0.2);
    background: white;
    align-items: center;
    justify-content: space-between
  }

  .move-button_active {
    display: flex;
  }

  .move-button>span:last-child {
    color: #299F3E;
    font-size: 15px;
  }

  .move-button>span:nth-child(2) {
    font-size: 16px;
  }

  .move-button>span:first-child {
    font-weight: bolder;
    font-size: 17px;
  }

}

@media screen and (max-width: 480px) {

  .basket-card .card-btns__more {
    height: 16px;
    line-height: 0.875em;
  }

  .card-btns__more:nth-last-of-type(1) {
    padding-top: 2px;
    margin-left: 0;
    line-height: 12px;
    height: 16px;
    border-radius: 3px;
    border: 1px solid black;
  }


  .basket-card .card-description {
    margin: 12px 0;
    padding-top: 10px;
  }

  .basket-leftside hr {
    margin-left: 0;
  }

  .delivery-form__blockInput>label>span,
  .delivery-form__blockInput>div>label>span {
    font-size: 0.75em;
  }

  .basket-promo__title span,
  .basket-delivery__title {
    font-size: 1.3em;
    margin-bottom: 6px;
  }

  .basket-payment__title {
    font-size: 1.3em;
    margin-bottom: 6px;
  }


  .basket-delivery__subitle {
    font-size: 0.93em;
    margin-bottom: 16px;
  }

  label.labelRadio>span {
    font-size: 0.85em;
  }

  .basket-delivery-form__addone>span {
    font-size: 0.65em;
  }

  .delivery-form__blockRadio {
    margin: 30px 0 25px;
  }

  .basket-rightside-description {
    padding: 50px 24px 0;
  }

  .basket-payment {
    padding: 0 24px;
    gap: 14px;
  }

  .basket-title {
    padding: 10px 12px;
  }

  .basket-btns {
    padding: 0 12px;
  }

  .basket-card {
    padding: 30px 12px;
  }

  .basket-card__close {
    top: 46px;
    padding: 0;
  }

  .basket-card__close img {
    width: 10px;
    height: 19px;
  }

  .basket-delivery {
    padding: 0 17px;
  }

  .basket {

    gap: 0;
  }

  .basket-promo input {
    width: 100%;
  }

  .basket-promo {
    margin: 0;
    padding: 0 17px;
  }

  .basket-rightside-description {
    margin: 0 0 20px;
  }

  .move-button {
    height: 53px;
    padding: 0 25px 0 22px;
  }

  .basket-card .card-btns__more {
    font-size: 0.875em;
  }

  .basket-card .card-description__price {
    font-size: 0.83em;
  }

  .basket-card__IMGcontainer img {
    max-width: 7.3em;
    min-width: 7.3em;
  }

  .basket-promo form {
    width: 100%;
  }

  .basket-rightside__payment span {
    font-size: inherit;
  }

  .basket-rightside__products span,
  .basket-rightside__discount span,
  .basket-rightside__bonus span,
  .basket-rightside__delivery span,
  .basket-rightside__deliveryPoint span {
    font-size: inherit;
  }

  .move-button>span {
    font-size: 1.3em;
  }



  .basket-btns button {
    font-size: 0.95em;
    font-weight: 600;
  }

  .basket-delivery-form__addone {
    margin-bottom: 56px;
  }

  .basket {
    padding-top: 0;
    padding-bottom: 33px;
  }

  .basket-cards {
    padding-top: 20px;
    padding-left: 12px;
    padding-right: 12px;
  }

  .basket-card {
    padding-left: 0px;
    padding-right: 0px;
  }

  .basket-delivery-form input,
  .basket-delivery-form select {
    height: 37px;
  }

  .basket form input {
    height: 37px;
  }

  .basket-promo form button {
    max-width: 112px;
    width: 100%;
    padding: 5px;
  }

  label.labelRadio>span>span:first-child {
    font-size: 1.02em;
  }

  label.labelRadio>span>span:last-child {
    font-size: 0.8em;
  }

  .basket-delivery-form__addone>span:first-child {
    max-width: 312px;
    font-size: 0.8em;
  }

  .basket-delivery-form button {
    font-size: 0.81em;
  }

  .basket-card .card-description__title,
  .basket-card .card-description__subtitle,
  .basket-card .card-description__category {
    letter-spacing: 0px;
  }

  .basket-payment-list li img {
    max-width: 21px;
  }

  .basket-leftside {
    padding-top: 0;
  }

  .basket-card__IMGcontainer {
    flex: 1 0 0;
    max-width: 7.37em;
  }

  .basket-card__IMGcontainer img {
    aspect-ratio: 1.09 / 1;
    width: 100%;
    object-fit: cover;
    max-width: unset;
    height: unset;
    min-width: unset;
  }

  .basket-card {
    row-gap: 14px;
    column-gap: 17px;
  }

  .card-description {
    padding: 0;
  }

  .card-btn__count {
    font-weight: bold;
    font-size: 14ox;
  }

  .basket-card .card-description {
    justify-content: center;
    gap: 12px;
  }

  .basket-card .card-description-inner {
    gap: 7px;
  }

  .basket-promo form {
    gap: 11px;
  }

  .basket-promo form button {
    font-size: 12px;
  }

  .basket-rightside__payment span {
    font-size: 1.3em;
  }

  .basket-rightside {
    border-bottom: none;
  }
}
