/*! HTML5 Boilerplate v9.0.0-RC1 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

@font-face {
  font-family: Involve;
  src: url(../fonts/involve/fonts/TTF/Involve-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: Involve;
  src: url(../fonts/involve/fonts/TTF/Involve-SemiBold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: Involve;
  src: url(../fonts/involve/fonts/TTF/Involve-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: Involve;
  src: url(../fonts/involve/fonts/TTF/Involve-Regular.ttf);
  font-weight: 400;
}

html {
  color: #222;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .visually-hidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * The use of `table` rather than `block` is only necessary if using
 * `::before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}





















































/* ----MAIN---- */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  border: none;
  outline: none;
  background: none;
  font-size: 1vw;
  line-height: 1em;
}

/* Глобальная корректировка шрифта */

@media screen and (max-width: 1440px) {
  * {
    font-size: 1.1vw;
  }
}
@media screen and (max-width: 768px) {
  * {
    font-size: 2.5vw;
  }
}
@media screen and (max-width: 425px) {
  * {
    font-size: 3vw;
  }
}


button {
  cursor: pointer;
}

a {
  color: white;
}

.modal::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
  background: transparent;
}

.wrapper {
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 35px;
  position: sticky;
  top: 0;
  height: 50px;
  background-color: #fff;
  z-index: 100;
  box-shadow: 0px 12px 7px 0px rgba(0, 0, 0, 0.1);
}

.header-burger {
  flex: 1 0 0;
}


.burger div{
  width: 29px;
  height: 1px;
  background: #222;
  margin: 7px;
  transition:all 0.3s ease;
  cursor: pointer;
}

.line2 {
  width: 18px!important;
}

.toggle .line1{
  transform: rotate(-45deg) translate(-5px,6px );
}
.toggle .line2{
  opacity: 0;
}
.toggle .line3{
  transform: rotate(45deg) translate(-5px,-6px );
}

.header-logo {
  flex: 1 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 11px 0;
  height: auto;
}

.header-logo img {
  width: 100%;
  height: auto;
}

.logo-container {
  width: 7em;
  height: auto;
  cursor: pointer;
}

.header-navbar {
  flex: 1 0 0;
  display: flex;
  justify-content: flex-end;
}

.header-navbar__list {
  display: flex;
  gap: 1em;
}

.header-navbar__list li{
  width: 1.5em;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.header-navbar__list li img {
  width: 100%;
  height: auto;
}

.main {
  width: 100%;
  position: relative;
  font-family: Involve, serif;
}
.main-img {
  width: 100%;
  position: relative;
}

.main-img img {
  width: 100%;
  height: auto;
}
.main-slider {
  gap: 17px;
  overflow: auto hidden;
  display: flex;
  padding: 32px 50px;
  justify-content: center;
}


.wrapper {
  width: 100%;
  position: relative;
}

.wrapper i {
  height: 50px;
  width: 50px;
  background: rgb(118, 233, 118);
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  top: 50%;
  font-size: 1.25 rem;
  transform: translateY(-50%);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);

}

.wrapper i:first-child {
  left: 22px;

}

.wrapper i:last-child {
  right: 22px;

}

.wrapper .carousel {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 4) - 30px);
  gap: 40px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  scrollbar-width: 0;
  margin: 0 50px;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.carousel :where(.card, .img) {
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}

.carousel.no-transition {
  scroll-behavior: auto;
}

.carousel.dragging .card {
  cursor: grab;
  user-select: none;
}

.carousel .card {
  scroll-snap-align: start;
  /*height: 340px;*/
  /*list-style: none;*/
  /*background: #fff;*/
  /*border-radius: 8px;*/
  /*display: flex;*/
  /*cursor: pointer;*/
  /*width: 98%;*/
  /*padding-bottom: 15px;*/
  /*align-items: center;*/
  /*justify-content: center;*/
  /*flex-direction: column;*/
}


@media screen and (max-width: 900px) {
  .wrapper .carousel {
    grid-auto-columns: calc((100% / 2) - 9px);

  }
}

@media screen and (max-width: 600px) {
  .wrapper .carousel {
    grid-auto-columns: 100%;

  }
}




.slider-elem {
  display: flex;
  flex-direction: column;
  gap: 7px;
  cursor: pointer;
  flex: 1 0 100%;
  max-width: 7em;
  transition: all 0.2s linear;
  font-size: 1vw;
}

.slider-elem:hover .slider-elem__container img{
  transform: scale(1.2);
}

.slider-elem__container {
  overflow: hidden;
  background: linear-gradient(to right, red, purple);
  transition: all 0.2s linear;
  border-radius: 50%;
  padding: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-elem__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border: 3px solid #ffffff;
  border-radius: 50%;
  overflow: hidden;
  width: 100%;
  height: auto;
}

.slider-elem__container img {
  border-radius: 50%;
  overflow: hidden;
  width: 100%;
  height: auto;
  transition: all 0.2s linear;
}
.slider-elem__subtitle {
  font-size: 1vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-style: normal;
  text-align: center;
}

.main-section {
  display: flex;
  flex-direction: column;
  gap: 38px;
  margin-bottom: 120px;
  margin-top: 40px;
}

.section-title {
  text-align: center;
  font-weight: 600;
}

.section-title h2 {
  font-size: 1.8em;
  font-weight: 600;
}

.section-container {
  overflow: hidden;
  overflow-x: auto;
  display: flex;
  gap: 73px;
  padding: 0 50px;
}

.section-card {
  display: flex;
  flex-direction: column;
  flex: 1 0 0;
  min-width: 14em;
  align-self: flex-start;
  gap: 12px;
  align-items: flex-start;
}

.section-card_big {
  flex: 1 0 0;
  min-width: 20em;
}

.card-img {
  width: 100%;
}

.card-img img {
  width: 100%;
  height: auto;
}
.card-btns {
  position: relative;
  flex: 1 0 0;
  align-self: stretch;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  top: calc(-0.87em / 2);
  height: 0.87em;
  margin-bottom: 4px;
}
.card-btns__more {
  background-color: #1C1818;
  color: #ffffff;
  padding: 4px 12px;
  font-weight: bold;
  font-size: 0.85em;
}
.card-btns__lock {
  background-color: #FFE24B;
  border-radius: 50%;
  width: 2em;
  height: 2em;
}

.card-btns__lock img {
  width: 100%;
  padding: 5px;
  height: inherit;
}


.card-description {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
  width: 100%;
}

.card-description-inner {
  display: flex;
  gap: 8px;
  flex-direction: column;
  align-items: flex-start;
}

.card-price-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-description__price,
.card-description__title {
  font-weight: bold;
}

.card-description__category,
.card-description__subtitle {
  font-weight: normal;
  font-size: 0.85vw;
}

.card-description__subtitle span {
  font-weight: bolder;
  font-size: 0.85vw;
}

.section-card_big .card-description__title {
  text-align: left;
  font-weight: bold;
}

.section-card_big .card-description__category,
.section-card_big .card-description__subtitle {
  text-align: left;
  font-weight: normal;
}

.section-card_big .card-description__price {
  text-align: left;
  font-weight: bold;
}
.footer {
  background-color: #000000;
  padding: 70px 60px 120px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  color: white;
}
.footer-description {
  font-family: "Inter", serif;
  font-weight: bold;
}
.footer-navbar {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.footer-navbar > span {
  margin: 24px 0px;
  font-family: "Inter", serif;
  font-weight: normal;
}

.navbar-phone {
  margin: 36px 0;
}

.navbar-phone a{
  font-family: "Inter", serif;
  font-weight: bold;
}
.navbar-socials {
  display: flex;
  flex-direction: column;
  gap: 41px;
}
.social {
  display: flex;
  align-self: flex-start;
}

.social a {
  display: flex;
  align-items: center;
  gap: 12px;
}

.social a > span:first-child {
  display: flex;
  width: 2.1em;
}

.social a > span:last-child {
  font-family: "Inter", serif;
  font-weight: normal;
}

.social img {
  width: 100%;
  height: auto;
}


.modal-wrapper {
  background-color: rgba(0, 0, 0, 0.2);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  opacity: 0;
  transition: all 0.5s linear;
  z-index: -100;
}

.activeWrapper {
  opacity: 1;
  z-index: 100;
}

.modal {
  top: 50px;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  transform: translateX(-100vw);
  transition: all 0.4s ease;
  backdrop-filter: blur(10px);
  z-index: 105;
  background-color: white;
  width: fit-content;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 32px 32px 32px 35px;
}

.active {
  display: flex;
  transform: translateX(0px);
}

.modal-list {
  margin-bottom: 68px;
}

.modal-list ul{
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.modal-list a {
  color: black;
  font-family: "Inter";
}

.modal .footer {
  background-color: #ffffff;
  color: black;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 0;
}

.modal .footer-description {
  font-weight: normal;
}
.modal .footer-navbar {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.modal .footer-navbar > span {
  font-weight: normal;
  margin: 31px 0 15px 0;
}

.modal .navbar-phone {
  margin:  0 0 24px 0;
}

.modal .navbar-phone a{
  font-weight: bold;
  color: #000;
}
.modal .navbar-socials {
  display: flex;
  flex-direction: column;
  gap: 13px;
}
.modal.social {
  display: flex;
  align-self: flex-start;
}

.modal.social a {
  display: flex;
  align-items: center;
  gap: 12px;
}

.modal .social a > span:first-child {
  display: flex;
  width: 1.5em;
}

.modal .social a > span:last-child {
  color: #000;
  font-weight: normal;
}

.modal.social img {
  width: 100%;
  height: auto;
}


@media screen and (max-width: 1440px) {

}
@media screen and (max-width: 768px) {

}
@media screen and (max-width: 425px) {
  .section-title {
    text-align: left;
    padding-left: 10px;
  }
}



/* -----CATALOG----- */

.main-btn_back {
  position: absolute;
  z-index: 1;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  top: 20px;
  left: 20px;
  /*font-size: 1.5em;*/
}
.main-img__btn img {
  width: 100%;
  height: auto;
}

.main-img__text {
  position: absolute;
  z-index: 1;
  right: 2em;
  bottom: 2em;
  font-size: 2em;
  font-family: "Inter", serif;
  font-weight: bold;
}

.main-catalog {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0 20px 20px;
}
.catalog-title {
  text-align: center;
  font-size: 1.1em;
  font-weight: normal;
  font-family: "Inter", serif;
  margin-bottom: 6px;
}
.catalog-container {
  display: flex;
  flex-wrap: wrap;
  row-gap: 30px;
  column-gap: 10px;
}

.catalog-side {
  flex: 1 0 45%;
  display: flex;
  gap: 10px;

}





/* -----PRODUCT----- */

.main-product {
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.product-card {
  display: flex;
  font-family: "Inter", serif;
}
.product-card__containerIMG {
  position: relative;
  flex: 1 0 20%;
  top: 1em;
}

.products-card__btns {
  position: relative;
}

.product-card__containerIMG img {
  width: 100%;
  height: auto;
}
.product-card__containerINFO {
  flex: 1 0 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.product-card__category {
}
.product-card__title {
  font-size: 1.2em;
  font-weight: bold;
}
.product-card__capacity {
  font-size: 0.8em;

}

.product-card__price {
  font-size: 1.2em;
  font-weight: bold;
}
.product-card__delivery {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.product-card__delivery li {
  display: flex;
  gap: 10px;
}

.product-card__delivery img {
  border: 1px solid black;
  border-radius: 50%;
  width: 2em;
  height: 2em;
  padding: 2px;
}

.product-card__manager {
  flex: 1 0 0;
  display: flex;
  gap: 10px;
  font-weight: bold;
  font-size: 1.3em;
  align-items: flex-end;
}
.product-card__managerIMG-container {
  background-color: #000;
  border-radius: 50%;
  height: 2em;
  width: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-description {
}
.product-description__category {
}
.product-description__title {
}
.product-description__specification {
}
.product-description__сompound {
}
.product-description__сharacteristics {
}
.product-description__rave {
}
.product-description__manufacturer {
}
