.basket {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    margin-bottom: 40px;
    max-width: 1640px;
    padding: 80px 60px;
}
.basket-leftside {
    display: flex;
    flex-direction: column;
    flex: 1 0 0;
}

.basket-title {
    margin-bottom: 10px;
}

.basket-title h2{
    font-size: bold;
    flex: 1 0 0;
    font-size: 1.56em;
}
.basket-btns {
    display: flex;
    justify-content: space-between;
    flex: 1 0 0;
}

.basket-cards {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 85px;
    padding-top: 10px;
}
.basket-card {
    display: flex;
    gap: 10px;
    position: relative;
    border-top: 1px solid #D9D9D9;
    padding: 10px 10px;
}
.basket-card__IMGcontainer {
    flex: 0.2 0 0;
}

.basket-card__IMGcontainer img {
    width: 100%;
    max-width: 10em;
    min-width: 10em;
    height: auto;
}

.basket-card  .basket-card-main {
    flex: 1 0 0;
}
.basket-card  .card-description {
    flex: 1 0 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px 0;
}
.basket-card  .card-description-inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}
.basket-card  .card-description__category {
}
.basket-card  .card-description__title {
}
.basket-card  .card-description__subtitle {
}
.basket-card  .card-price-container {
    align-self: flex-start;
    display: flex;
    justify-content: flex-start;
}
.basket-card  .card-description__price {
    flex: 1 0 0;
    font-size: 1.25em;
}
.basket-card  .card-btns__more {
    margin-right: 20px;
    background-color: #D9D9D9;
    border-radius: 5px;
    color: #1119C7;
    font-size: 1.25em;
    padding: 0;
    width: 2em;
    height: 1.5em;

}

.card-price-result {
    display: flex;
    margin: 10px 0;
    align-items: flex-end;
    flex: 1.5 0 0;
}

.card-price-result .card-description__price {
    display: flex;
    flex: 1 0 0;
    justify-content: flex-end;
    margin-right: 10px;
    min-width: fit-content;
}

.card-btns__more:nth-last-of-type(1) {
    margin-right: 10px;
    margin-left: 30px ;
    background-color: white;
    border-radius: 5px;
    border: 1px solid black;
    color: black;
}

.basket-card__close {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px;
}

.basket-promo {
    display: flex;
    gap: 10px;
    align-items: center;
}
.basket-promo__title {
    display: flex;
    align-items: center;
    gap: 12px;
}

.basket-promo__title span{
    font-weight: bold;
    font-size: 1.6em;
}
.basket-promo__helper img{
    width: 1em;
    height: 1em;
    height: auto;
}

.basket-promo form {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 10px;
}

.basket-promo form input {
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px 10px;
}

.basket-promo form button {
    background-color: #0761E8;
    color: white;
    border-radius: 8px;
    padding: 5px 30px;
}
.basket-delivery {
    display: flex;
    flex-direction: column;
}
.basket-delivery__title {
    font-size: 1.625em;
    font-weight: bold;
    margin-bottom: 15px;
}
.basket-delivery__subitle {
    font-size: 1.25em;
    margin-bottom: 25px;
}

.basket-delivery-form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.delivery-form__blockInput {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.delivery-form__blockInput > label {
    margin-bottom: 10px;
}

.delivery-form__blockInput > div {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.delivery-form__blockInput > div > label:first-child {
    flex: 1 0 0;
}

.basket-delivery-form input,
.basket-delivery-form select{
    border-radius: 5px;
    border: 1px solid black;
    padding: 5px 10px;
    margin-top: 5px;
    width: 100%;
}

.basket-delivery-form label{
    display: flex;
    flex-direction: column;
}

.delivery-form__blockRadio {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 55px 0;
}

label.labelRadio {
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

label.labelRadio > span {
    font-weight: bolder;
    font-size: 1.25em;
}

label.labelRadio input {
    margin: 0;
    width: fit-content;
}

.basket-delivery-form__addone {
    font-weight: bolder;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.25em;
    margin-bottom: 78px;
}

.basket__phoneContainer {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    border-radius: 50%;
}

.basket__phoneContainer img {
    padding: 5px;
    min-width: 2em;
    max-width: 2em;
    height: auto;
}

.basket-delivery-form button {
    background-color: #0761E8;
    color: white;
    border-radius: 8px;
    padding: 12px 25px;
    max-width: 17em;
}

.basket-payment {
    display: flex;
}
.basket-payment__title {
    font-size: 1.3em;
    font-weight: bold;
}
.basket-payment-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: flex-start;

}

.basket-payment-list ul {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.basket-payment-list li {
    display: flex;
    align-items: center;
    gap: 10px;
}

.basket-payment-list li img {
    width: 2em;
    height: 2em;
}

.basket-rightside {
    flex: 0.4 0 0;
    box-shadow: 1px 1px 8.5px 1px rgba(0, 0, 0, 0.09);
    border-radius: 15px;
    align-self: self-start;
    position: sticky;
    top: 60px;
}

.basket-rightside-description {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 20px;
}
.basket-rightside-property {
    display: flex;
    justify-content: space-between;

}

.basket-rightside__payment {
    font-size: 1.3em;
    font-weight: bold;
}

.basket-rightside__products {
    font-size: 0.9em;
}
.basket-rightside__discount {
    font-size: 0.9em;

}
.basket-rightside__bonus {
    font-size: 0.9em;

}
.basket-rightside__delivery {
    font-size: bold;
}
.basket-rightside__deliveryDoor,
.basket-rightside__deliveryPoint {
    align-self: flex-end;
}
.basket-rightside__deliveryPoint button,
.basket-rightside__deliveryDoor button {
    color: #299F3E;
    font-weight: bold;
}

.basket-rightside-button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 0 0;
    margin-bottom: 10px;
}

.basket-rightside-button button {
    background-color: #299F3E;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 12px;
    width: 15em;
    border-radius: 8px;
}

.basket-rightside-button button img {
    width: 2em;
    height: 2em;
    height: auto;
}

.basket-leftside hr {
    margin: 85px 0;
}

hr.noneHR {
    margin: 10px 0;
}

@media screen and (max-width: 768px){


    .basket {
        flex-direction: column;
        padding: 40px 0px;
    }
    .basket-card {
        flex-wrap: wrap;
        padding: 10px 32px;
    }
    .card-price-result {
        flex: 1 0 60%;
        margin-left: 17px;
    }

    .basket hr:not(.basket hr.noneHR) {
        border-top: 20px solid #EFEDED;
    }

    .basket-title {
        padding: 10px 32px;
        margin: 0;
    }

    .basket-btns {
        padding:  0 32px;
    }

    .basket-promo {
        align-items: flex-start;
        flex-direction: column;
        margin: 0 auto;
    }

    .basket-promo form {
        margin-left: 0px;
    }

    .basket-delivery {
        padding: 0 32px;
    }

    .delivery-form__blockInput {
        width: 100%;
    }

    .delivery-form__blockInput > div > label:first-child {
        flex: 0.5 0 0;
    }

    .delivery-form__blockInput > div > label:last-child {
        flex: 1 0 0;
    }

    .basket-payment {
        padding: 0 32px;
        justify-content: center;
    }

    .basket-rightside {
        margin: 32px 0;
        align-self: stretch;
        box-shadow: none;
        border-radius: 0px;
        border-top: 20px solid #EFEDED;
    }

    .delivery-form__blockRadio {
        margin: 39px 0;
    }

    .basket-rightside-description {
        padding: 20px 32px 0;
    }

    .basket-delivery-form__addone {
        margin-bottom: 20px;
    }

    .basket-cards {
        margin-bottom: 29px;
    }

    .basket-leftside hr {
        margin: 37px 0 29px;
    }

    label.labelRadio input{
        max-width: 1.5em;
        height: 1.5em;
    }

    .basket-payment-list input[type='radio'] {
        max-width: 1.5em;
        height: 1.5em
    }

    .basket-payment-list ul,
    .basket-payment-list ul li{
        gap: 15px;
    }
}

@media screen and (max-width: 480px) {
    .basket-rightside-description {
        padding: 20px 12px 0;
    }

    .basket-payment {
        padding: 0 12px;
    }

    .basket-title {
        padding: 10px 12px;
    }

    .basket-btns {
        padding:  0 12px;
    }

    .basket-card {
        padding: 10px 12px;
    }

    .basket-delivery {
        padding: 0 12px;
    }

    .basket {
        
        gap: 0;
    }

    .basket-promo input {
        width: 100%;
    }

    .basket-promo {
        margin: 0;
        padding: 0 12px;
    }

    .basket-rightside-description {
        margin: 0 0 20px;
    }
}
