<div class="section-container container-card">
    <div class="section-card">
        <div class="card-img">
            <img src="./img/card1.svg" alt="card1">
        </div>
        <div class="card-description">
            <div class="card-description-inner">
                <div class="card-description__title">
                Сменные файлы для педикюра
                </div>
                <div class="card-description__subtitle">
                Размер: <span>L</span>  диаметр 25 мм 180 грит
                </div>
            </div>
            <div class="card-price-container">
                <div class="card-description__price">
                550.00 руб.
                </div>
                <button class="card-btns__more">
                В корзину
                </button>
            </div>
        </div>
    </div>
</div>