.main-img__text {
  position: absolute;
  width: 100%;
  max-width: 1520px;
  text-align: end;
  font-weight: bolder;
  font-size: 2.8em;
  left: 0;
  right: 60px;
  bottom: 60px;
  margin: 0 auto;
  padding-right: 160px;
}

.btn_back {
  font-family: "LT Superior", serif;
  position: absolute;
  top: 25px;
  left: 33px;
  font-size: min(1.25em, 22px);
}

.main-img-container {
  position: relative;
}

.main-slider-catalog {
  border-bottom: 1px solid #D1D1D1;
  padding: 32px 0 50px;
}

.main-img-catalog img{
  height: 354px;
}

.main-catalog {
  display: flex;
  flex-direction: column;
  max-width: 1680px;
  width: 100%;
}

.catalog-title {
  margin: 42px 80px 36px;
  display: flex;
  flex-direction: column;
  gap: 10px;

}

.catalog-title__text {
  text-align: center;
  font-size: 1.3em;
}

.catalog-addone {
  display: flex;
  justify-content: space-between;
}

.catalog-addone a {
  text-decoration-color: unset;
}

.catalog-filter {
  display: flex;
  align-items: center;
  font-size: 1em;
  gap: 4px;
}

.catalog-filter select {
  font-family: "Involve", sans-serif;
  font-size: min(0.9em, 18px) !important;
}

.catalog-filter span {
  font-size: min(0.9em, 18px);
}

.catalog-filter select {
  font-size: inherit;
}

.catalog-filter__btn {
  font-size: min(0.9em, 18px)
}


.catalog-container {
  display: flex;
  flex-direction: column;
  gap: 60px;
  margin: 0 60px;

}

.catalog-side .section-card:nth-child(1) {
  grid-area: small1;

}

.catalog-side .section-card:nth-child(2) {
  grid-area: small2;
}

.catalog-side .section-card:nth-child(3) {
  grid-area: average;
}

.catalog-side .section-card:nth-child(4) {
  grid-area: small3;
}

.catalog-side .section-card:nth-child(5) {
  grid-area: small4;
}

.catalog-side .section-card:nth-child(6) {
  grid-area: small5;
}

.catalog-side .section-card:nth-child(7) {
  grid-area: small6;
}

.catalog-side .section-card:nth-child(8) {
  grid-area: small7;
}

.catalog-side .section-card:nth-child(9) {
  grid-area: small8;
}

.catalog-side .section-card:nth-child(10) {
  grid-area: small9;
}

.catalog-side .section-card:nth-child(11) {
  grid-area: small10;
}

.catalog-side .section-card:nth-child(12) {
  grid-area: average2;
}

.catalog-side .section-card:nth-child(13) {
  grid-area: small11;
}

.catalog-side .section-card:nth-child(14) {
  grid-area: small12;
}

.catalog-side .section-card {
  max-width: 270px;
  width: 100%;
}

.catalog-side .section-card:nth-child(3),
.catalog-side .section-card:nth-child(12) {
  max-width: 100%;
  position: relative;
  flex-direction: row;
  align-self: stretch;
  justify-self: stretch;
}

.catalog-side .section-card:nth-child(12) {
  flex-direction: row-reverse;
}

.catalog-side .section-card:nth-child(3) .card-img,
.catalog-side .section-card:nth-child(12) .card-img {
  max-height: 100%;
  position: absolute;
  width: 70%;
}

.catalog-side .section-card:nth-child(3) .card-description,
.catalog-side .section-card:nth-child(12) .card-description {
  position: relative;
  max-width: 40%;
  width: 100%;
  top: 50%;
  left: 60%;
  transform: translate(-5%, -50%);
}

.catalog-side .section-card:nth-child(12) .card-description  {
  left: unset;
  right: 60%;
  transform: translate(5%, -50%);
}

.catalog-side .section-card:nth-child(3) img,
.catalog-side .section-card:nth-child(12) img {
  max-height: 100%;
}

.catalog-side .section-card:nth-child(3) .card-price-container,
.catalog-side .section-card:nth-child(12) .card-price-container {
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}


.catalog-side {
  display: grid;
  justify-content: center;
  grid-template-areas:
    "small1 small2 average average"
    "small3 small4 small5 small6"
    "small7 small8 small9 small10"
    "average2 average2 small11 small12";
  column-gap: 60px;
  row-gap: 60px;
}

.section-card {
  align-self: stretch;
}

.main-catalog .section-card .card-img {
  height: 100%;
  max-height: 350px;
}

.main-catalog .card-img img {
  min-height: unset;
  height: 100%;
}





.card-description__category {
  font-family: 'LT Superior', serif;
  font-size: 0.95em;
  font-weight: 400;
}

@media screen and (max-width: 1100px) {
 .catalog-side {
    gap: 60px;
    grid-template-areas:
    "small1 small2 small3"
    "average average average"
    "small4 small5 small6"
    "small7 small8 small9"
    "average2 average2 average2"
    "small10 small11 small12";
 }

  .catalog-side .section-card:nth-child(3),
  .catalog-side .section-card:nth-child(12) {
      height: 570px;
  }

  .catalog-side .section-card:nth-child(3) img,
  .catalog-side .section-card:nth-child(12) img {
      object-fit: contain;
  }
}

@media screen and (max-width: 768px) {
  .catalog-container {
    margin: 0 30px;
  }

  .catalog-side {
    gap: 40px;
    grid-template-areas:
    "small1 small2"
    "average average"
    "small3 small4"
    "small5 small6"
    "small7 small8"
    "average2 average2"
    "small9 small10"
    "small11 small12";
 }
}

@media screen and (max-width: 480px) {

  .main-img-catalog img{
    max-height: 140px;
  }

  .main-img-catalog .main-img__text {
    font-family: "LT Superior", serif;
    text-align: unset;
    font-size: 1.5em;
    left: 0;
    right: 12px;
    bottom: 18px;
    margin: 0 auto;
    padding-left: 12px;
    padding-right: unset;
  }

  .btn_back {
    font-family: "LT Superior", serif;
    position: absolute;
    top: 18px;
    left: 12px;
    font-size: 1em;
  }

  .main-slider-catalog {
    padding: 16px 0 20px;
  }

  .catalog-title {
    margin-top: 15px;
    margin-bottom: 6px;
  }

  .catalog-title__text {
    font-size: 1.1em;
    font-weight: 400;
  }
  .main-catalog {
    padding-bottom: 135px;
  }
  .catalog-container {
    margin: 0
  }
  .catalog-side {
    font-size: 1vw;
    row-gap: 80px;
    column-gap: 0;
    grid-template-columns: 1fr 0.1fr 1fr;
    grid-template-areas:
    "big big big"
    "small1 . small2"
    "small3 . small4"
    "average average average"
    "big2 big2 big2"
    "small5 . small6"
    "average2 average2 average2"
    "small7 . small8"
    "small9 . small10";
 }

 .catalog-side .section-card:nth-child(1) {
    grid-area: big;
  }

  .catalog-side .section-card:nth-child(2) {
    grid-area: small1;
  }

  .catalog-side .section-card:nth-child(3) {
    grid-area: small2;
  }

  .catalog-side .section-card:nth-child(4) {
    grid-area: small3;
  }

  .catalog-side .section-card:nth-child(5) {
    grid-area: small4;
  }

  .catalog-side .section-card:nth-child(6) {
    grid-area: average;
  }

  .catalog-side .section-card:nth-child(7) {
    grid-area: big2;
  }

  .catalog-side .section-card:nth-child(8) {
    grid-area: small5;
  }

  .catalog-side .section-card:nth-child(9) {
    grid-area: small6;
  }

  .catalog-side .section-card:nth-child(10) {
    grid-area: average2;
  }

  .catalog-side .section-card:nth-child(11) {
    grid-area: small7;
  }

  .catalog-side .section-card:nth-child(12) {
    grid-area: small8;
  }

  .catalog-side .section-card:nth-child(13) {
    grid-area: small9;
  }

  .catalog-side .section-card:nth-child(14) {
    grid-area: small10;
  }

  .catalog-side .section-card:nth-child(3) img,
  .catalog-side .section-card:nth-child(12) img {
    object-fit: unset;

  }

  .catalog-side .section-card:nth-child(3),
  .catalog-side .section-card:nth-child(12) {
    flex-direction: column;
    height: unset;
    max-width: unset;
  }

  .catalog-side .section-card:nth-child(3) .card-img,
  .catalog-side .section-card:nth-child(12) .card-img{
    position: unset;
    inset: unset;
    max-width: unset;
    transform: unset;
    width: unset;
  }

  .catalog-side .section-card:nth-child(3) .card-description,
  .catalog-side .section-card:nth-child(12) .card-description{
    position: unset;
    inset: unset;
    max-width: unset;
    transform: unset;
    width: unset;
  }

  .catalog-side .section-card:nth-child(3) .card-price-container,
  .catalog-side .section-card:nth-child(12) .card-price-container{
    flex-direction: row;
    align-items: center;
  }

  .catalog-side {
    overflow: hidden;
  }

  .catalog-side .section-card {
    max-width: 190px !important;
    font-size: inherit;
    position: relative;
  }

  .catalog-side .section-card:not(
    .catalog-side .section-card:nth-child(1),
    .catalog-side .section-card:nth-child(7),
    .catalog-side .section-card:nth-child(6),
    .catalog-side .section-card:nth-child(10)
  ) img{
    max-width: 190px;
    height: 190px;
  }

  .catalog-side .section-card:nth-child(1),
  .catalog-side .section-card:nth-child(7) {
    max-width: 100% !important;
  }

  .catalog-side .section-card:nth-child(1) img,
  .catalog-side .section-card:nth-child(7) img {
    height: 360px;
    max-height: unset;
  }

  .catalog-side .section-card:nth-child(6),
  .catalog-side .section-card:nth-child(10) {
    max-width: 100% !important;
    flex-direction: row;
    max-height: unset;
    height: 280px;
  }

  .catalog-side .section-card:nth-child(6) .card-img,
  .catalog-side .section-card:nth-child(10) .card-img {
    overflow: unset;
    position: absolute;
    z-index: 1;
  }

  .catalog-side .section-card:nth-child(6) .card-description,
  .catalog-side .section-card:nth-child(10) .card-description {
    position: absolute;
    z-index: 2;
    width: 50%;
    right: 0;
  }

  .catalog-side .section-card:nth-child(6) img,
  .catalog-side .section-card:nth-child(10) img {
    width: 280px;
    height: 280px;
  }

  .catalog-side .section-card:nth-child(6) .card-description,
  .catalog-side .section-card:nth-child(10) .card-description{
    top: 50%;
    transform: translateY(-50%);
  }

  .catalog-side .card-description__category {
    font-size: 0.8125em;
  }
  .catalog-side .card-description__title {
    font-size: 0.875em;
  }

  .catalog-side .card-description__subtitle {
    font-size: 0.75em;
  }
  .catalog-side .card-description__price {
    font-size: 0.875em;
  }

  .catalog-side .section-card:nth-child(1) .card-btns__more,
  .catalog-side .section-card:nth-child(7) .card-btns__more {
    max-width: 113px;
    font-size: 0.875em;
  }

  .catalog-side .section-card:nth-child(1) .card-description__title ,
  .catalog-side .section-card:nth-child(7) .card-description__title  {
    font-size: 1.25em;
  }

  .catalog-side .card-btns__more {
    font-size: 0.55em;
    max-width: 66px;
  }

  .catalog-side .card-description {
    gap: 3px;
  }

  .catalog-side .card-description-inner {
    gap: 3px;
  }
}
