<footer class="footer">
    <div class="footer-logo">
      <img src="./img/logo-footer.svg" alt="logo-footer">
    </div>
    <div class="footer-main">
      <nav class="footer-leftside">
            <div class="leftside-part">
             <div class="part-phone">
                <div class="navbar-phone">
                  <a href="tel:+375292912432">+375292912432</a>
              </div>
            <div class="phone-description">Если у Вас возникли вопросы, пожалуйста,<br> свяжитесь с нами:</div>
             </div> 
            <ul class="navbar-socials">
                <li class="social">
                    <a href="#">
                        <span>
                            <img src="./img/telegram.svg" alt="telegram">
                        </span>
                        <span>Telegram</span>
                    </a>
                </li>
                <li class="social">
                    <a href="#">
                        <span>
                            <img src="./img/whatsaspp.svg" alt="whatsaspp">
                        </span>
                        <span>WhatsApp</span>
                    </a>
                </li>
                <li class="social">
                    <a href="#">
                        <span>
                            <img src="./img/viber.svg" alt="viber">
                        </span>
                        <span>Viber</span>
                    </a>
                </li>
                <li class="social">
                    <a href="#">
                        <span>
                            <img src="./img/mail.svg" alt="mail">
                        </span>
                        <span>Nick-name98@mail.ru</span>
                    </a>
                </li>
            </ul>
          </div>
        <div class="leftside-part">
          <div class="addone-info">
            <h3>Следите за нами в социальных сетях</h3>
            <p>Наш Инстаграм-аккаунт</p>
          </div>
          <div class="social">
              <a href="#">
                  <img src="./img/instagram.svg" alt="instagram">
                  <span>Instagram</span>
              </a>
          </div>
        </div>
      </nav>
      <div class="footer-rightside">
        <div class="rightside-part">
          <h4 class="part-title">Покупателям</h4>
          <ul class="part-links">
            <li class="part-link">
              <a>Доставка и оплата</a>
            </li>
            <li class="part-link">
              <a>Возврат товара</a>
            </li>
            <li class="part-link">
              <a>Бонусная программа</a>
            </li>
          </ul>
        </div>
        <div class="rightside-part">
          <h4 class="part-title">Покупателям</h4>
          <ul class="part-links">
            <li class="part-link">
              <a>Доставка и оплата</a>
            </li>
            <li class="part-link">
              <a>Возврат товара</a>
            </li>
            <li class="part-link">
              <a>Бонусная программа</a>
            </li>
          </ul>
        </div>
        <div class="rightside-part">
          <h4 class="part-title">Покупателям</h4>
          <ul class="part-links">
            <li class="part-link">
              <a>Доставка и оплата</a>
            </li>
            <li class="part-link">
              <a>Возврат товара</a>
            </li>
            <li class="part-link">
              <a>Бонусная программа</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
</footer>