<header class="header">
    <div class="header-burger">
      <div class="burger">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
      </div>
    </div>
    <div class="header-logo">
        <div class="logo-container">
            <img src="./img/GRANI.svg" alt="GRANI">
        </div>
    </div>
    <nav class="header-navbar">
        <ul class="header-navbar__list">
            <li>
                <a href="#">
                    <img src="./img/phone.svg" alt="phone">
                </a>
            </li>
            <li>
                <a href="/personalArea.html">
                    <img src="./img/default_avatar.svg" alt="default-avatar">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="./img/lock.svg" alt="lock">
                </a>
            </li>
        </ul>
    </nav>
</header>
