.modal-wrapper {
    background-color: rgba(0, 0, 0, 0.2);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    opacity: 0;
    transition: all 0.5s linear;
    z-index: -100;
  }
  
  .activeWrapper {
    opacity: 1;
    z-index: 100;
  }
  
  .modal {
    top: 50px;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    transform: translateX(-100vw);
    transition: all 0.4s ease;
    backdrop-filter: blur(10px);
    z-index: 105;
    background-color: white;
    width: fit-content;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 32px 32px 32px 60px;
  }
  
  .active {
    display: flex;
    transform: translateX(0px);
  }
  
  .modal-list {
    margin-bottom: 20px;
  }
  
  .modal-list ul{
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  
  .modal-list a {
    color: black;
    font-family: "Inter";
  }
  
  .modal .footer {
    background-color: #ffffff;
    color: black;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 0;
  }

  .modal .footer .navbar-phone a{
    color: black;
  }

  .modal .social {
    flex: 1 0 100%;
  }

  .modal .social a {
    color: black;
  }

  .modal .navbar-social {
    align-items: flex-start;
  }
  