<div class="modal-wrapper"></div>
    <div class="modal">
        <aside class="modal-list">
            <ul>
                <li><a href="#">Базы</a></li>
                <li><a href="#">Топы</a></li>
                <li><a href="#">Гели</a></li>
                <li><a href="#">Жидкие гели</a></li>
                <li><a href="#">Гель-лак</a></li>
                <li><a href="#">Сменные файлы</a></li>
                <li><a href="#">Подготовка НП</a></li>
                <li><a href="#">Дизайны</a></li>
                <li><a href="#">Новинки</a></li>
                <li><a href="#">Акции</a></li>
                <li><a href="#">Доставка и возврат</a></li>
                <li><a href="#">Контакты</a></li>
            </ul>
        </aside>
        <footer class="footer">
            <div class="footer_inner_container">
              <div class="footer-logo">
                <img src="./img/GRANI2.svg" alt="logo-footer">
              </div>
              <div class="footer-main">
                <nav class="footer-leftside">
                  <div class="leftside-part">
                    <div class="part-phone">
                      <div class="navbar-phone">
                        <a href="tel:+375292912432">+375292912432</a>
                      </div>
                      <div class="phone-description">если у Вас возникли вопросы, пожалуйста,<br> свяжитесь с нами:</div>
                    </div>
                    <ul class="navbar-socials">
                      <span>
                        <li class="social">
                          <a href="#">
                                  <span>
                                      <img src="./img/telegram.svg" alt="telegram">
                                  </span>
                            <span>Telegram</span>
                          </a>
                        </li>
                        <li class="social">
                          <a href="#">
                                  <span>
                                      <img src="./img/whatsaspp.svg" alt="whatsaspp">
                                  </span>
                            <span>WhatsApp</span>
                          </a>
                        </li>
                      </span>
                      <span>
                        <li class="social">
                          <a href="#">
                                  <span>
                                      <img src="./img/viber.svg" alt="viber">
                                  </span>
                            <span>Viber</span>
                          </a>
                        </li>
                        <li class="social">
                          <a href="#">
                                  <span>
                                      <img src="./img/mail.svg" alt="mail">
                                  </span>
                            <span>Nick-name98@mail.ru</span>
                          </a>
                        </li>
                      </span>
                    </ul>
                  </div>
                  <div class="leftside-part">
                    <div class="addone-info">
                      <h3>Следите за нами в соцсетях</h3>
                      <p>Наш Инстаграм-аккаунт</p>
                    </div>
                    <div class="social">
                      <a href="#">
                        <img src="./img/instagram.svg" alt="instagram">
                        <span>Instagram</span>
                      </a>
                    </div>
                  </div>
                </nav>
            </div>
          </footer>
    </div>
