<div class="modal-wrapper"></div>
    <div class="modal">
        <aside class="modal-list">
            <ul>
                <li><a href="#">Базы</a></li>
                <li><a href="#">Топы</a></li>
                <li><a href="#">Гели</a></li>
                <li><a href="#">Жидкие гели</a></li>
                <li><a href="#">Гель-лак</a></li>
                <li><a href="#">Сменные файлы</a></li>
                <li><a href="#">Подготовка НП</a></li>
                <li><a href="#">Дизайны</a></li>
                <li><a href="#">Новинки</a></li>
                <li><a href="#">Акции</a></li>
                <li><a href="#">Доставка и возврат</a></li>
                <li><a href="#">Контакты</a></li>
            </ul>
        </aside>
        <footer class="footer">
            <div class="footer-main">
              <nav class="footer-leftside">
                    <div class="leftside-part">
                     <div class="part-phone">
                        <div class="navbar-phone">
                          <a href="tel:+375292912432">+375292912432</a>
                      </div>
                    <div class="phone-description">Если у Вас возникли вопросы, пожалуйста,<br> свяжитесь с нами:</div>
                     </div>
                    <ul class="navbar-socials">
                        <li class="social">
                            <a href="#">
                                <span>
                                    <img src="./img/telegram-black.svg" alt="telegram">
                                </span>
                                <span>Telegram</span>
                            </a>
                        </li>
                        <li class="social">
                            <a href="#">
                                <span>
                                    <img src="./img/whatsaspp-black.svg" alt="whatsaspp">
                                </span>
                                <span>WhatsApp</span>
                            </a>
                        </li>
                        <li class="social">
                            <a href="#">
                                <span>
                                    <img src="./img/viber-black.svg" alt="viber">
                                </span>
                                <span>Viber</span>
                            </a>
                        </li>
                        <li class="social">
                            <a href="#">
                                <span>
                                    <img src="./img/mail-black.svg" alt="mail">
                                </span>
                                <span>Nick-name98@mail.ru</span>
                            </a>
                        </li>
                    </ul>
                  </div>
                <div class="leftside-part">
                  <div class="addone-info">
                    <h3>Следите за нами в социальных сетях</h3>
                    <p>Наш Инстаграм-аккаунт</p>
                  </div>
                  <div class="social">
                      <a href="#">
                          <img src="./img/instagram-black.svg" alt="instagram">
                          <span>Instagram</span>
                      </a>
                  </div>
                </div>
              </nav>
            </div>
        </footer>
    </div>
