
/* -----PRODUCT----- */
.main-btn_back {
  padding: 20px;
  align-self: flex-start;
}

.main-product {
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .product-card {
    display: flex;
    font-family: "Inter", serif;
  }
  .product-card__containerIMG {
    position: relative;
    flex: 1 0 20%;
  }
  
  .products-card__btns {
    position: relative;
  }
  
  .product-card__containerIMG img {
    width: 100%;
    height: auto;
  }
  .product-card__containerINFO {
    flex: 1 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    position: relative;
    left: -4em;
  }
  .product-card__category {
  }
  .product-card__title {
    font-size: 2.25em;
    font-weight: bold;
  }
  .product-card__capacity {
    font-size: 1.25em;
  }
  
  .product-card__price {
    font-size: 2em;
    font-weight: bold;
  }
  .product-card__delivery {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .product-card__delivery li {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .product-card__delivery li span {
    font-size: 0.875em;
  }
  
  .product-card__delivery img {
    border: 1px solid black;
    border-radius: 50%;
    width: 2em;
    height: 2em;
    padding: 2px;
  }

  .product-card__btn {
    
    background-color: black;
    color: white;
    padding: 16px 26px;
    align-self: flex-start;
    font-size: 0.95em;
    font-weight: bold;
  }
  
  .product-card__manager {
    display: flex;
    gap: 10px;
    font-weight: bold;
    align-items: center;
  }

  .product-card__manager span {
    font-size: 1.25em;
  }

  .product-card__managerIMG-container {
    background-color: #000;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .product-card__managerIMG-container img {
    height: 2em;
    width: 2em;
    padding: 5px;
  }
  
  .product-description {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .product-description__category {
    font-size: 1.125em;
  }
  .product-description__title {
    font-size: 1.375em;
    font-weight: bold;
  }
  .product-description__specification {
  }
  .product-description__сompound {
  }
  .product-description__сharacteristics {
  }
  .product-description__rave {
  }
  .product-description__manufacturer {
  }

  .product-card__containerINFO_part:first-child {
    position: relative;
    top: -1em;
  }

  .product-card__containerINFO_part {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .main-btn_back:hover img{
    animation: moveArrow 0.7s infinite ease-in-out
  }

  @keyframes moveArrow {
    0% {
      transform: translateX(-5px);
    }

    50% {
      transform: translateX(0px);
    }

    100% {
      transform: translateX(-5px);
    }
  }


  @media screen and (max-width: 768px) {
    .main-product {
      padding: 40px 0;
    }
    
    .product-card {
      flex-direction: column;
      position: relative;
    }

    .product-card__containerINFO {
      left: 0; 
      position: absolute;
      width: 100%;
      height: 100%;
      padding: 20px;
      justify-content: flex-end;
    }

    .product-card__delivery {
      display: none;
    }
    .product-card__manager {
      display: none;
    }

    .product-card__category {
      position: relative;
      top: -12.5%;
    }

    .product-card__title {
      flex: 1 0 0;
      position: relative;
      top: -15%;
    }

    .product-card__btn {
      position: absolute;
      right: 0;
      bottom: 0;
    }

    .product-description {
      padding: 40px 32px;
    }

    .product-card__containerINFO_part:first-child {
      position: absolute;
      top: -30px;
    }

    .product-card__containerINFO_part:last-child {
      position: relative;
    }
  
 
  }

  @media screen and (max-width: 480px) {
    .product-card__btn {
      padding: 10px 15px;

    }

    .product-card__containerINFO_part:last-child {
      bottom: -100px;
    }

    .product-description {
      padding: 100px 20px;
    }
  }

  @media screen and (max-width: 400px) {
    .product-card__containerINFO_part:last-child {
      gap: 5px;
      top: 110px;
    }
    
    .product-card__btn {
      position: relative;
    }
  } 
  



  